* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* GENERAL ROOT */
:root {
    /* COLORS */
    --bright-blue: hsl(220, 98%, 61%);
    --linear-gradient: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    --checkbox-color: hsl(0, 0%, 98%);
    --stats-color: hsl(234, 11%, 52%);
  
    /* TRANSITION */
    --transition: all 0.2s ease-in-out;
  
    /* FONT FAMILY */
    --font-family: "Josefin Sans", sans-serif;
  }

  /* LIGHT THEME */
:root[data-theme="light"] {
    --body-bg: hsl(236, 33%, 92%);
    --header-bg: url("./images/bg-mobile-light.jpg");
    --header-bg-desktop: url("./images/bg-desktop-light.jpg");
    --heading-color: hsl(0, 0%, 98%);
    --input-bg: hsl(0, 0%, 98%);
    --input-color: hsl(234, 39%, 85%);
    --task-color: hsl(235, 19%, 35%);
    --complete-task-color: hsl(236, 9%, 61%);
    --border-bottom-color: hsl(233, 11%, 84%);
    --checkbutton-border: hsl(233, 11%, 84%);
    --remove-task-hover: hsl(235, 19%, 35%);
    --filter-task-hover: hsl(235, 19%, 35%);
    --drag-text-color: hsl(236, 9%, 61%);
  }

  /* DARK THEME */
:root[data-theme="dark"] {
    --body-bg: hsl(235, 21%, 11%);
    --header-bg: url("./images/bg-mobile-dark.jpg");
    --header-bg-desktop: url("./images/bg-desktop-dark.jpg");
    --heading-color: hsl(236, 33%, 92%);
    --input-bg: hsl(235, 24%, 19%);
    --input-color: hsl(234, 39%, 85%);
    --task-color: hsl(234, 39%, 85%);
    --complete-task-color: hsl(234, 11%, 52%);
    --border-bottom-color: hsl(237, 14%, 26%);
    --checkbutton-border: hsl(234, 11%, 52%);
    --remove-task-hover: hsl(236, 33%, 92%);
    --filter-task-hover: hsl(234, 39%, 85%);
    --drag-text-color: var(--border-bottom-color);
  }